
:host {
	display: block ;
}

.canvas {
	border: 3px solid #cccccc ;
	border-radius: 4px 4px 4px 4px ;
	display: flex ;
	font-family: "Open Sans" ;
	min-height: 300px ;

	&__input,
	&__syllables {
		border: 0px ;
		font-size: 20px ;
		line-height: 29px ;
		padding: 20px 22px 20px 22px ;
	}

	&__input {
		background-color: #fafafa ;
		flex: 1 1 100% ;
		font-family: inherit ;
		font-weight: 400 ;

		&:active,
		&:focus {
			outline: 0 ;
		}
	   
	    &--dark {
			background-color: #222 ;
			color: #FAFAFA ;
	    }
	}

	&__syllables {
		background-color: #eaeaea ;
		color: #999999 ;
		flex: 0 1 70px ;
		font-weight: 400 ;
		list-style-type: none ;
		margin: 0px 0px 0px 0px ;
		padding-bottom: 60px ; // Helps keep it ahead of the textarea.
		padding-left: 18px ;
		padding-right: 18px ;
		overflow: hidden ;
		text-align: center ;
	}

	&__syllable {
		margin: 0px 0px 0px 0px ;
		padding: 0px 0px 0px 0px ;

		&--none {
			visibility: hidden ;
		}
	}
}

.persistence {
	margin-top: 4px ;

	&__label {
		color: #888888 ;
		cursor: pointer ;
		font-size: 13px ;

		&:hover {
			color: #000000 ;
		}
	}

	&__input {
		font-size: 13px ;
	}
}
