
@import "./shared/less/utilities.less" ;

:host {
	display: block ;
}

.canvas {
	border: 3px solid transparent ;
	border-radius: 4px 4px 4px 4px ;
	display: flex ;
	font-family: "Open Sans" ;
	min-height: 300px ;
	.transition-properties( border-color ) ;

	:host-context( .light-theme ) & {
		border-color: #cccccc ;
	}

	:host-context( .dark-theme ) & {
		border-color: #2b2c2f ;
	}

	&__input,
	&__syllables {
		border: 0px ;
		font-size: 20px ;
		line-height: 29px ;
		padding: 20px 22px 20px 22px ;
	}

	&__input {
		flex: 1 1 100% ;
		font-family: inherit ;
		font-weight: 400 ;
		.transition-properties( background-color, color ) ;

		:host-context( .light-theme ) & {
			background-color: #fafafa ;
			color: #121212 ;
		}

		:host-context( .dark-theme ) & {
			background-color: #1b1c1c ;
			color: #f0f0f0 ;
		}

		&:active,
		&:focus {
			outline: 0 ;
		}
	}

	&__syllables {
		flex: 0 1 70px ;
		font-weight: 400 ;
		list-style-type: none ;
		margin: 0px 0px 0px 0px ;
		padding-bottom: 60px ; // Helps keep it ahead of the textarea.
		padding-left: 18px ;
		padding-right: 18px ;
		overflow: hidden ;
		text-align: center ;
		.transition-properties( background-color, color ) ;

		:host-context( .light-theme ) & {
			background-color: #eaeaea ;
			color: #999999 ;
		}

		:host-context( .dark-theme ) & {
			background-color: #212224 ;
			color: #8e8e8e ;
		}
	}

	&__syllable {
		margin: 0px 0px 0px 0px ;
		padding: 0px 0px 0px 0px ;

		&--none {
			visibility: hidden ;
		}
	}
}

.persistence {
	margin-top: 4px ;

	&__label {
		cursor: pointer ;
		font-size: 13px ;
		.transition-properties( color ) ;

		:host-context( .light-theme ) & {
			color: #888888 ;

			&:hover {
				color: #000000 ;
			}
		}

		:host-context( .dark-theme ) & {
			color: #999999 ;

			&:hover {
				color: #ffffff ;
			}
		}
	}

	&__input {
		font-size: 13px ;
	}
}
