
@import "./shared/less/utilities.less" ;

:host {
	display: block ;
}

.footer {
	border-top: 2px solid transparent ;
	font-size: 14px ;
	justify-content: space-between ;
	padding-top: 10px ;
	.transition-properties( border-color, color ) ;

	:host-context( .light-theme ) & {
		border-color: #c8c8c8 ;
		color: #999999 ;
	}

	:host-context( .dark-theme ) & {
		border-color: #666666 ;
		color: #999999 ;
	}

	a {
		color: inherit ;
		.transition-properties( color ) ;

		:host-context( .light-theme ) & {
			&:hover {
				color: #000000 ;
			}
		}

		:host-context( .dark-theme ) & {
			&:hover {
				color: #ffffff ;
			}
		}
	}

	&__bigsexy {
		margin-bottom: 15px ;
	}

	&__sources {}
}

.bigsexy {
	font-size: 14px ;

	&__label {
		color: #666666 ;
		font-weight: 700 ;
	}

	&__meta {
		color: #aaaaaa ;
		display: inline-block ;
		font-style: italic ;
		font-weight: 400 ;
		margin-left: 8px ;
	}

	&__dash {
		display: inline-block ;
		margin-left: 8px ;
		margin-right: 8px ;
	}

	&__definition {}
}
