
:host {
	display: block ;
}

.header {
	display: flex ;
	font-family: "Roboto" ;
	font-size: 36px ;
	height: 50px ;
	line-height: 50px ;

	&__name {
		color: #121212 ;
		display: flex ;
		flex: 0 1 auto ;
		padding-right: 30px ;
	}

	&__message {
		border-left: 2px solid #C8C8C8 ;
		color: #666666 ;
		flex: 1 1 auto ;
		font-weight: 100 ;
		padding-left: 30px ;
	}

	&__bigsexy {
		font-weight: 900 ;
	}

	&__poems {
		font-weight: 300 ;
	}
}
