
<header class="header">
	<div class="header__title title">
		<span class="title__bigsexy">BigSexy</span>
		<span class="title__synonyms">Synonyms</span>
	</div>

	<div class="header__description">
		Find words that mean roughly the same thing.
	</div>
</header>

<div class="body">

	<form (submit)="handleSubmit()" class="search">
		<input type="text" name="query" [(ngModel)]="query" class="search__input" />
		<button type="submit" class="search__submit">
			Search
		</button>
	</form>

	<!-- BEGIN: Loading Indicator. -->
	<div *ngIf="isLoading" class="loading">
		Loading...
	</div>
	<!-- END: Loading Indicator. -->

	<!-- BEGIN: No Results. -->
	<div *ngIf="( ! isLoading && results && ! results.count )" class="no-results">
		Sorry, no synonyms found.
	</div>
	<!-- END: No Results. -->

	<!-- BEGIN: Results. -->
	<div *ngIf="( ! isLoading && results && results.count )" class="results">

		<div *ngFor="let group of results.groups" class="results__group">
			<div class="results__label">
				{{ group.label }}:
			</div>

			<div class="results__value">
				<span
					*ngFor="let word of group.words; last as isLast;"
					class="results__token"
					[class.results__token--emphasize]="word.isStrongMatch">
					{{ word.value }}<ng-template [ngIf]="! isLast">,</ng-template>
				</span>
			</div>
		</div>

	</div>
	<!-- END: Results. -->

</div>
