
@import "./shared/less/utilities.less" ;

:host {
	display: block ;
}

.theme-switcher {
	&__wrapper {
		margin-top: 1em;
		display: flex ;
		flex-flow: row-reverse ;
	}

	&__button {
		padding: 6px 12px ;
		font-size: 10px ;
		font-weight: 400 ;
		line-height: 1.4 ;
		text-align: center ;
		white-space: nowrap ;
		-ms-touch-action: manipulation ;
		touch-action: manipulation ;
		cursor: pointer ;
		border: 1px solid transparent ;
		border-radius: 4px ;
		.transition-properties( background-color, border-color, color ) ;

		:host-context( .light-theme ) & {
			background-color: #222222 ;
			border-color: #222222 ;
			color: #fafafa ;
		}

		:host-context( .dark-theme ) & {
			background-color: #212224 ;
			border-color: #404040 ;
			color: #ffffff ;
		}

		&:focus {
			outline: 0 ;
		}
	}
}
